
*{
 
  font-family: "CustomFont";
}

@font-face {
  font-family: "CustomFont";
  src: url("../../fonts/Sansation.woff2");
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 140vh;
  background-color: #ffffff;
}

.login-page img {
  width: 50%;
  max-width: 300px;
}

.login-page h1 {
  font-size: 28px;
  margin-top: 20px;
  color: #333;
}

.login-data {
  background-color: #fff;
  padding: 35px;
  border-radius: 40px;
  border-color: #9daabe;
  border-style:dotted;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

.login-data h3 {
  font-size: 20px;
  color: #333;
}

.login-data input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.login-data button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.login-data button:hover {
  background-color: #0056b3;
}

.login-page p {
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}

.login-page button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.login-page button:hover {
  background-color: #0056b3;
}



header {
  background-color: #ffffff;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.top-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 10;
}

.top-nav li {
  margin-right: 20px;
}

.top-nav a {
  text-decoration: none;
  color: #424242;
  font-weight:normal;
}

.top-nav a:hover {
  text-decoration: underline;
}
