/* styles.css */

.Mission {
  margin: 0 auto;
  padding: 20px;
  background: #102f4d; /* Fallback color */

}
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1 {
    color: white;
  }
  
  .Mission button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 7px 17px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .Mission button:hover {
    background-color: #0056b3;
  }
  
  .vision-mission-content {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

 
  
  /* Optional: Add responsive styles for smaller screens */
  @media (max-width: 600px) {
    .Mission {
      padding: 10px;
    }
  }
  
