body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
      color: #333;
  }

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    max-width: 800px;
    margin: 2em auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

.faq-item {
    margin-bottom: 20px;
}

.question {
    font-weight: bold;
    cursor: pointer;
}

.answer {
    display: none;
    margin-top: 10px;
    text-align: justify;
}

.answer.active {
    display: block;
}

li {
  margin-bottom: 10px; /* Adjust the value to set the desired space between lines */
  text-align: left;
}

p {
  text-align: justify;
}

.FAQ {
    background:  #102f4d;
    color: #221e1e; /* White text color */
    padding: 10px;
    border-radius: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: large;
}

